<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Blog</title>
    <style>
        .post {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3;
        }

        nav a {
            color: #d64161;
            font-size: 1.5em;
            margin-left: 20px;
            text-decoration: none;
        }

        .auth-links {
            float: right;
            margin-right: 50px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
     {% if g.user %}
        <a href="{{ url_for('create') }}">Post</a>
     {% endif %}
        <div class="auth-links">
            {% if g.user %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
