{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    {% if not totp_uri %}
    <form action="{{ url_for('register') }}" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    {% endif %}
    {% if totp_uri %}
        <p>Scan this QR code with your 2FA app:</p>
        <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ totp_uri }}" alt="QR Code">
    {% endif %}
{% endblock %}